.Content {
    margin-top: 56px;
}

.Up {
    box-sizing: border-box;
    border: 0 black;
    background-color: #569194;
    color: black;
    right: 10px;
    bottom: 20px;
    position: fixed;
    padding: 10px 10px;
    text-decoration: none;
    opacity: 0.6;
}

.Up:hover {
    opacity: 1;
}