.Home {
  background-color: #569194;
  width: 100%;
  height: 550px;
}

.NameDiv {
  display: block;
  margin: auto;
  padding-top: 130px;
}

.NameDiv h1 {
  font-family: "Lobster", cursive;
  text-align: center;
  font-weight: bold;
  font-size: 5rem;
  padding: 0px;
  margin: 0px;
}

.NameDiv p {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

@media (max-width: 600px) {
  .Home {
    height: 400px;
  }
  .NameDiv {
    padding-top: 100px;
  }
  .NameDiv h1 {
    font-size: 1.5rem;
  }
}
