.Experience {
    background-color: #EEEEEE;
    width: 100%;
    height: 550px;
}

.Experience h1 {
    font-family: 'Courgette', cursive;  
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    padding: 20px;
    margin: 0px;
}

.CompanyDetails {
    padding-left: 5%;
    float: left;
    width: 65%;
    text-align: justify;
}

.CompanyDetails ul li {
    list-style: none;
}