.AboutMe {
  background-color: #eeeeee;
  width: 100%;
  height: 600px;
}

.AboutMe h1 {
  font-family: "Courgette", cursive;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  padding: 20px;
  margin: 0px;
}

.Description {
  margin-left: 30%;
  width: 60%;
  padding-right: 10%;
  padding-top: 5%;
  text-align: justify;
}

@media (max-width: 600px) {
  .AboutMe h1 {
    font-size: 2rem;
    padding: 10px;
  }

  .Description {
    padding-right: 4%;
    padding-top: 3%;
  }
}

@media (max-width: 500px) {
  .AboutMe {
    height: 100%;
    padding-bottom: 5%;
  }

  .Description {
    padding-right: 3%;
    padding-top: 3%;
  }
}
